header {
<<<<<<< HEAD
    background-color:#FF0000;
    height:70px;
    width:100%
=======
    background-color: #ff0000;
    height: 70px;
    width: 100%;
>>>>>>> 38fdc8c3f754009823a6560403f19944e1409440
}