footer {
<<<<<<< HEAD
    background-color: white;    
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:  1px #CCCCCC solid;;
}
=======
    background-color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    line-height: 60px;
    border-top: 1px solid #CCCCCC;
}
>>>>>>> 38fdc8c3f754009823a6560403f19944e1409440
